*{
    margin: 0;
    padding: 0;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: rgb(237, 238, 238);
   background-image: url(imagens/1581284747397.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}

main{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

button{
    width: 100px;
    height: 35px;
}

input{
    border-radius: 5px;
    padding: 10px;
    height: 25px;
    border: none;
}